# ====================================================================
# protein-peptide docking example

# directory in which the scoring will be done
run_dir = "run1-test"
ncores = 40
# cns_exec = "path/to/bin/cns" # optional

# molecules to be docked
molecules =  [
    "data/1NX1_protein.pdb",
    "data/DAIDALSSDFT_3conformations.pdb"
    ]

# ====================================================================
# Parameters for each stage are defined below, prefer full paths
# ====================================================================
[topoaa]
#tolerance = 20
autohis = false
[topoaa.mol1]
nhisd = 2
hisd_1 = 36
hisd_2 = 109
nhise = 1
hise_1 = 113

[rigidbody]
tolerance = 20
ambig_fname = "data/ambig.tbl"
sampling = 20

[caprieval]
#tolerance = 20
reference_fname = "data/1nx1_refe.pdb"

[seletop]
#tolerance = 20
select = 5

[flexref]
tolerance = 20
ambig_fname = "data/ambig.tbl"
# Define peptide as fully flexible
nfle2 = 2
fle_sta_2_1 = 1
fle_end_2_1 = 5
fle_sta_2_2 = 6
fle_end_2_2 = 11
# Define automatically dihedral restraints
# for alpha and beta secondary structure elements
ssdihed = "alphabeta"

[caprieval]
#tolerance = 20
reference_fname = "data/1nx1_refe.pdb"

[emref]
tolerance = 20
ambig_fname = "data/ambig.tbl"
# Define peptide as fully flexible
nfle2 = 1
fle_sta_2_1 = 1
fle_end_2_1 = 11
# Define automatically dihedral restraints
# for alpha and beta secondary structure elements
ssdihed = "alphabeta"

[caprieval]
#tolerance = 20
reference_fname = "data/1nx1_refe.pdb"

# ====================================================================

