# ====================================================================
# Protein-peptide docking example

# directory in which the scoring will be done
run_dir = "run1-cltsel-full"

# execution mode
mode = "batch"
debug = true
# in which queue the jobs should run, if nothing is defined
#  it will take the system's default
# queue = "short"
# concatenate models inside each job, concat = 5 each .job will produce 5 models
concat = 5
#  Limit the number of concurrent submissions to the queue
queue_limit = 100

# molecules to be docked
molecules =  [
    "data/1NX1_protein.pdb",
    "data/DAIDALSSDFT_3conformations.pdb"
    ]

# ====================================================================
[topoaa]
autohis = false
[topoaa.mol1]
nhisd = 2
hisd_1 = 36
hisd_2 = 109
nhise = 1
hise_1 = 113

[rigidbody]
tolerance = 5
ambig_fname = "data/ambig.tbl"
sampling = 3000

[caprieval]
reference_fname = "data/1nx1_refe.pdb"

[clustfcc]

[seletopclusts]
## select the best 4 models of each cluster
top_models = 20

[caprieval]
reference_fname = "data/1nx1_refe.pdb"

[flexref]
tolerance = 5
ambig_fname = "data/ambig.tbl"
# Define peptide as fully flexible
fle_sta_1 = 1
fle_end_1 = 11
fle_seg_1 = "B"
# Define automatically dihedral restraints
# for alpha and beta secondary structure elements
ssdihed = "alphabeta"
# increase the number of steps by a factor 10 to allow
# for docking during the flexible refinement
mdsteps_rigid = 5000
mdsteps_cool1 = 5000
mdsteps_cool2 = 10000
mdsteps_cool3 = 10000

[caprieval]
reference_fname = "data/1nx1_refe.pdb"

[emref]
tolerance = 5
ambig_fname = "data/ambig.tbl"
# Define peptide as fully flexible
fle_sta_1 = 1
fle_end_1 = 11
fle_seg_1 = "B"
# Define automatically dihedral restraints
# for alpha and beta secondary structure elements
ssdihed = "alphabeta"

[caprieval]
reference_fname = "data/1nx1_refe.pdb"

[clustfcc]

[seletopclusts]
top_models = 4

[caprieval]
reference_fname = "data/1nx1_refe.pdb"

# Running final caprieval with allatoms parameter set to true to also
#  include the evaluation of protein & peptide side chains,
#  in both the alignment process and irmsd, ilrmsd computations
[caprieval]
allatoms = true
reference_fname = "data/1nx1_refe.pdb"

# ====================================================================

