# ====================================================================
# Protein-protein docking example with NMR-derived ambiguous interaction restraints
# ====================================================================

# directory in which the scoring will be done
run_dir = "run1-CG-full"

# execution mode
mode = "batch"
queue = "short"
queue_limit = 400
ncores = 10

# molecules to be docked
molecules =  [
    "data/3DVL_A-trunc-ens.pdb",
    "data/5JYT_B-trunc-ens.pdb",
    "data/5JYT_C-trunc-ens.pdb",
    "data/5JYT_D-trunc-ens.pdb",
    "data/5JYT_E-trunc-ens.pdb",
    "data/5JYT_F-trunc-ens.pdb",
    "data/5JYT_G-trunc-ens.pdb"
    ]

postprocess = True 
debug = True

# ====================================================================
# Parameters for each stage are defined below, prefer full paths
# ====================================================================

[topoaa]

[topocg]
cgffversion = "martini2"

[rigidbody]
crossdock = False
ambig_fname = "data/ambig.tbl"
#unambig_fname = "data/unambig.tbl"
symtbl_fname = "data/custom_sym_restraints.tbl"
randremoval = False
tolerance = 5
sampling = 10000
rotate180 = False
# defining "C6" symmetry restraints
sym_on = True
c2sym_sta1_1=20
c2sym_end1_1=90
c2sym_seg1_1="B"
c2sym_sta2_1=20
c2sym_end2_1=90
c2sym_seg2_1="E"
c2sym_sta1_2=20
c2sym_end1_2=90
c2sym_seg1_2="C"
c2sym_sta2_2=20
c2sym_end2_2=90
c2sym_seg2_2="F"
c2sym_sta1_3=20
c2sym_end1_3=90
c2sym_seg1_3="D"
c2sym_sta2_3=20
c2sym_end2_3=90
c2sym_seg2_3="G"
c3sym_sta1_1=20
c3sym_end1_1=90
c3sym_seg1_1="B"
c3sym_sta2_1=20
c3sym_end2_1=90
c3sym_seg2_1="D"
c3sym_sta3_1=20
c3sym_end3_1=90
c3sym_seg3_1="F"
c3sym_sta1_2=20
c3sym_end1_2=90
c3sym_seg1_2="C"
c3sym_sta2_2=20
c3sym_end2_2=90
c3sym_seg2_2="E"
c3sym_sta3_2=20
c3sym_end3_2=90
c3sym_seg3_2="G"

[caprieval]
reference_fname = "data/5N8Y_reference.pdb"
fnat_cutoff = 7.0 # cutoff for coarse-grained structures

[seletop]
select = 400

[caprieval]
reference_fname = "data/5N8Y_reference.pdb"
fnat_cutoff = 7.0 # cutoff for coarse-grained structures

[flexref]
ambig_fname = "data/ambig.tbl"
unambig_fname = "data/unambig.tbl"
symtbl_fname = "data/custom_sym_restraints.tbl"
randremoval = False 
tolerance = 5
# defining "C6" symmetry restraints
sym_on = True
c2sym_sta1_1=20
c2sym_end1_1=90
c2sym_seg1_1="B"
c2sym_sta2_1=20
c2sym_end2_1=90
c2sym_seg2_1="E"
c2sym_sta1_2=20
c2sym_end1_2=90
c2sym_seg1_2="C"
c2sym_sta2_2=20
c2sym_end2_2=90
c2sym_seg2_2="F"
c2sym_sta1_3=20
c2sym_end1_3=90
c2sym_seg1_3="D"
c2sym_sta2_3=20
c2sym_end2_3=90
c2sym_seg2_3="G"
c3sym_sta1_1=20
c3sym_end1_1=90
c3sym_seg1_1="B"
c3sym_sta2_1=20
c3sym_end2_1=90
c3sym_seg2_1="D"
c3sym_sta3_1=20
c3sym_end3_1=90
c3sym_seg3_1="F"
c3sym_sta1_2=20
c3sym_end1_2=90
c3sym_seg1_2="C"
c3sym_sta2_2=20
c3sym_end2_2=90
c3sym_seg2_2="E"
c3sym_sta3_2=20
c3sym_end3_2=90
c3sym_seg3_2="G"

[caprieval]
reference_fname = "data/5N8Y_reference.pdb"
fnat_cutoff = 7.0 # cutoff for coarse-grained structures

[cgtoaa]

[emref]
ambig_fname = "data/ambig.tbl"
unambig_fname = "data/unambig.tbl"
symtbl_fname = "data/custom_sym_restraints.tbl"
randremoval = False
tolerance = 5
# defining "C6" symmetry restraints
sym_on = True
c2sym_sta1_1=20
c2sym_end1_1=90
c2sym_seg1_1="B"
c2sym_sta2_1=20
c2sym_end2_1=90
c2sym_seg2_1="E"
c2sym_sta1_2=20
c2sym_end1_2=90
c2sym_seg1_2="C"
c2sym_sta2_2=20
c2sym_end2_2=90
c2sym_seg2_2="F"
c2sym_sta1_3=20
c2sym_end1_3=90
c2sym_seg1_3="D"
c2sym_sta2_3=20
c2sym_end2_3=90
c2sym_seg2_3="G"
c3sym_sta1_1=20
c3sym_end1_1=90
c3sym_seg1_1="B"
c3sym_sta2_1=20
c3sym_end2_1=90
c3sym_seg2_1="D"
c3sym_sta3_1=20
c3sym_end3_1=90
c3sym_seg3_1="F"
c3sym_sta1_2=20
c3sym_end1_2=90
c3sym_seg1_2="C"
c3sym_sta2_2=20
c3sym_end2_2=90
c3sym_seg2_2="E"
c3sym_sta3_2=20
c3sym_end3_2=90
c3sym_seg3_2="G"

[caprieval]
reference_fname = "data/5N8Y_reference.pdb"

[clustfcc]
clust_cutoff = 0.5
min_population = 2

[seletopclusts]

[caprieval]
reference_fname = "data/5N8Y_reference.pdb"
clt_threshold = 2

# ====================================================================
