# ====================================================================
# protein-DNA docking example

# directory in which the run will be done
run_dir = "run1-cmrest-test"

# execution mode
mode = "local"
ncores = 40

# molecules to be docked
molecules =  [
    "data/cro.pdb",
    "data/dna.pdb"
    ]

# ====================================================================
# Parameters for each stage are defined below, prefer full paths
# ====================================================================
[topoaa]
autohis = true

[rigidbody]
tolerance = 20
cmrest = true
sampling = 20
epsilon = 78
dielec = "cdie"
randremoval = false
w_desolv = 0

[caprieval]
reference_fname = "data/target.pdb"

[seletop]
select = 5

[flexref]
tolerance = 20
cmrest = true
epsilon = 78
dielec = "cdie"
randremoval = false
dnarest_on = true
w_desolv = 0

[caprieval]
reference_fname = "data/target.pdb"

[emref]
tolerance = 20
contactairs = true
randremoval = false
dnarest_on = true
w_desolv = 0

[clustfcc]
min_population = 2

[seletopclusts]
top_models = 4

[caprieval]
reference_fname = "data/target.pdb"

# Running final caprieval with allatoms parameter set to true to also
#  include the evaluation of protein side chains and DNA nucleotides
#  in both the alignment process and lrmsd, irmsd, ilrmsd computations
[caprieval]
allatoms = true
reference_fname = "./data/target.pdb"

# ====================================================================

