# ====================================================================
# Protein-ligand docking example

# directory for the run
run_dir = "run1-refine-ligand-autotoppar-test"

# execution mode
mode = "local"
ncores = 10

# molecules to be docked
molecules =  [
    "data/oseltamivir_zwitterion.pdb"
    ]

# ====================================================================
# Parameters for each stage are defined below
# ====================================================================
[topoaa]
autohis = true
delenph = false
hydrogen_build = "unknown"
autotoppar = true

[emref]

# ====================================================================
