[submodule "src/fcc"]
	path = src/fcc
	url = https://github.com/haddocking/fcc.git

[submodule "src/fast-rmsdmatrix"]
	path = src/fast-rmsdmatrix
	url = https://github.com/mgiulini/fast-rmsdmatrix@v0.1.0
