graft docs
graft src/haddock

include *.md
include *.rst
include LICENSE
include requirements.txt
include requirements.yml

exclude .bumpversion.cfg
exclude .coveragerc
exclude .readthedocs.yml
exclude tox.ini

prune devtools
prune examples
prune tests

global-exclude *.py[cod] __pycache__/* *.so *.dylib 
global-exclude tags
global-exclude *.swp
