[build-system]
requires = ["setuptools>=45", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "haddock3"
version = "2024.10.0b6"
description = "HADDOCK3"
readme = "README.md"
authors = [{ name = "BonvinLab", email = "bonvinlab.support@uu.nl" }]
license = { text = "Apache License 2.0" }
classifiers = [
  "Development Status :: 4 - Beta",
  "License :: OSI Approved :: Apache Software License",
  "Natural Language :: English",
  "Operating System :: POSIX",
  "Operating System :: POSIX :: Linux",
  "Operating System :: MacOS",
  "Intended Audience :: Science/Research",
  "Topic :: Scientific/Engineering :: Bio-Informatics",
  "Topic :: Scientific/Engineering :: Chemistry",
  "Topic :: Scientific/Engineering :: Physics",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
]
keywords = [
  "Structural Biology",
  "Biochemistry",
  "Docking",
  "Protein docking",
  "Proteins",
]
requires-python = ">=3.9, <3.13"
dependencies = [
  'pdb-tools>=2.5.0',
  'biopython==1.*',
  'jsonpickle>=2.1.0',
  'numpy==1.*',
  'pyyaml>=6.0',
  'scipy>=1.10.0',
  'toml>=0.10.2',
  'pandas==2.*',
  'plotly==5.24.1',
  'kaleido==0.2.1',
  'freesasa>=2.2.1',
]

[project.optional-dependencies]
dev = [
  "coverage==7.6.1",
  "pytest==8.3.3",
  "pytest-cov==4.0.0",
  "hypothesis==6.112.2",
  "pytest-mock==3.14.0",
  "fastapi==0.115.0",
  "httpx==0.27.0",
  "mpi4py==4.0.0",
]
docs = [
  "sphinx>=2",
  "sphinx-argparse>=0.4.0",
  "sphinx_rtd_theme>=2.0.0",
  "CommonMark>=0.9.1",
  "mock>=5.0.2",
  "myst-parser>=1.0.0",
]

[project.urls]
Homepage = "https://github.com/haddocking/haddock3"
Documentation = "https://github.com/haddocking/haddock3#readme"
"Issue Tracker" = "https://github.com/haddocking/haddock3/issues"
"Discussion Forum" = "https://github.com/haddocking/haddock3/issues"

[project.scripts]
haddock3 = "haddock.clis.cli:maincli"
haddock3-mpitask = "haddock.clis.cli_mpi:maincli"
haddock3-bm = "haddock.clis.cli_bm:maincli"
haddock3-cfg = "haddock.clis.cli_cfg:maincli"
haddock3-clean = "haddock.clis.cli_clean:maincli"
haddock3-copy = "haddock.clis.cli_cp:maincli"
haddock3-dmn = "haddock.clis.cli_dmn:maincli"
haddock3-pp = "haddock.clis.cli_pp:maincli"
haddock3-score = "haddock.clis.cli_score:maincli"
haddock3-unpack = "haddock.clis.cli_unpack:maincli"
haddock3-analyse = "haddock.clis.cli_analyse:maincli"
haddock3-traceback = "haddock.clis.cli_traceback:maincli"
haddock3-re = "haddock.clis.cli_re:maincli"
haddock3-restraints = "haddock.clis.cli_restraints:maincli"

[tool.setuptools]
packages = ["haddock"]
package-dir = { "" = "src" }
include-package-data = true

[tool.setuptools.package-data]
haddock = ["bin/*"]
