pdb-tools==2.5.0
biopython==1.79
git+https://github.com/joaorodrigues/fcc@fcc2
jsonpickle==2.1.0
numpy==1.22.2
pyyaml==6.0
scipy==1.10.0
toml==0.10.2
tox==3.24.5
pandas==1.5.1
plotly==5.11.0
kaleido==0.2.1
setuptools-scm=7.1.0
