# ====================================================================
# il-RMSD matrix + clustering example:
# This example is made for you to visualise and understand the behavior
#   of the various parameters available in the both 
#   `il-rmsd` and `clustrmsd` modules. In all the clustrmsd modules,
#   we set the parameters `plot_matrix` to true to visualize the 
#   resulting matrices.
#
# `ilrmsdmatrix`: compute all pair-wise RMSD between all structures
# `clustrmsd`: cluster structures based on the last computed rmsdmatrix
#   where singlotons will be clustered and distance is small.
# `ilrmsdmatrix`: compute all pair-wise RMSD between all structures
# `clustrmsd`: cluster structures based on the last computed rmsdmatrix
#   where a minimum of 2 members are required to form a cluster
#   and distance is set to 4 (A).
# `seletopclusts`: with default parameters to send all clustered structures to the next stage.
# `ilrmsdmatrix`: re-compute all pair-wise il-RMSD between remaining structures
# `clustrmsd`: cluster structures based on the latest computed rmsdmatrix.
#   where here we ask to obtain 3 clusters (criterion = maxclust & n_clusters = 3)
# `seletopclusts`: with default parameters to send all clustered structures to the next stage.
# `ilrmsdmatrix`: re-compute all pair-wise il-RMSD between all structures
# `clustrmsd`: cluster structures based on the last computed ilrmsdmatrix
#   where singlotons will be clustered and distance is small.
#
# NOTE: Have a look at the generated `rmsd_matrix.html` in the 
#  clustrmsd modules, it can allow you to visualize all the pair-wise
#  distances and better set the appropriate parameters for clustering.
# ====================================================================
# Define global parameters
# ====================================================================
# directory in which the scoring will be done
run_dir = "finetune-ilrmsdclusering-withplots-test"

# compute mode
mode = "local"
ncores = 10

# ensemble to be analysed
molecules = "./data/ensemble_4G6M.pdb"

# ====================================================================
# Parameters for each stage are defined below, prefer full paths
# ====================================================================
# Generate topologies for each structure in the ensemble
[topoaa]

# Compute the interface-ligand-RMSD matrix
[ilrmsdmatrix]
# Cluster based on il-RMSD matrix
[clustrmsd]
criterion = "distance"  # Use RMSD distances to cluster structures.
clust_cutoff = 1  # Structures with il-rmsd <= 1 (A) will be clustered together
min_population = 1  # Even singlotons will be `clustered`
plot_matrix = true  # Plot the corresponding matrix

# Compute the interface-ligand-RMSD matrix with current model order.
[ilrmsdmatrix]
# Cluster based on RMSD
[clustrmsd]
criterion = "distance"  # Use RMSD distances to cluster structures.
clust_cutoff = 4  # Structures with il-rmsd <= 4 (A) will be clustered together
min_population = 2  # A minimum of 2 members required to form a cluster
plot_matrix = true  # Plot the corresponding matrix

# Select best clusters
[seletopclusts]

# Re-Generate third il-rmsd matrix with only selected models
[ilrmsdmatrix]
# Re-clusters based on number of final clusters with `maxclust` the criterion
[clustrmsd]
criterion = "maxclust"  # Use maximum number of cluster to create clusters
n_clusters = 3  # Number of desired clusters
min_population = 1  # Even singlotons will be `clustered`
plot_matrix = true  # Plot the corresponding matrix

# Select best clusters
[seletopclusts]

# Re-Generate last il-rmsd matrix with only selected models
[ilrmsdmatrix]
# Cluster based on il-RMSD with parameters enabling to display all models
[clustrmsd]
criterion = "distance"  # Use RMSD distances to cluster structures.
clust_cutoff = 1  # Structures with il-rmsd <= 1 (A) will be clustered together
min_population = 1  # Even singlotons will be `clustered`
plot_matrix = true  # Plot the corresponding matrix

# Evaluate models with CAPRI metrics using PDB complex as reference.
[caprieval]
reference_fname = "./data/target.pdb"

# ====================================================================
