# ==================================================
#           RNA Scan with HADDOCK3
#
#  This example workflow will performa a RNA scan
#  of all RNA bases at the interface, mutating each
#  to all five possibilites: A, C, G, U. 
# ==================================================

# General parameters
run_dir = "run1-rna-scan"
ncores = 10

# Input
molecules = ["data/1XS7_clean.pdb"]

# Workflow definition
# ====================================================================
[topoaa]
autohis = true

[emscoring]

[rnascan]
output_mutants = true
plot=true
int_cutoff = 3.9
