# ====================================================================
# Selection of top clusters example:
# `topoaa`: Input structrues topologies are generated
# `emscoring`: Score structures based on HADDOCK scoring function
# `clustfcc`: Structures are clustered based on fraction of common contacts
# 'seletopclusts': Select Top 2 models in each cluster and propagate
#   them to the next stages. Here, best clusters is based on haddock scores.
# `caprieval`: Models are evaluated using the CAPRI criterion
# ====================================================================

# directory in which the scoring will be done
run_dir = "seletopclusts-test"

# compute mode
mode = "local"
ncores = 10

# ensemble to be analysed
molecules = "./data/ensemble_4G6M.pdb"

# ====================================================================
# Parameters for each stage are defined below
# ====================================================================
# Generate topologies for each structure in the ensemble.
[topoaa]

# Evaluate the structures with HADDOCK3 scoring function
[emscoring]
nemsteps = 1

# Cluster structures by Fraction of Comon Contacts (FCC)
# with default parameters
[clustfcc]

# Select best models in each clusters
[seletopclusts]
top_cluster = 9999  # Select top 9999 clusters
top_models = 2  # Only top 2 best models in each cluster are selected
sortby = 'score'  # Order cluster based on their models scores

# Evaluate models with CAPRI metrics using PDB complex as reference.
[caprieval]
reference_fname = "./data/target.pdb"
