# ====================================================================
# Clustfcc analysis example

# directory in which the scoring will be done
run_dir = "run1-topoaa-clustfcc-test"

# compute mode
mode = "local"
ncores = 10

# ensemble to be analysed
molecules = "./data/ensemble_4G6M.pdb"

# ====================================================================
# Parameters for each stage are defined below, prefer full paths
# ====================================================================
[topoaa]

# ClustFCC with default parameter values
[clustfcc]

# ClustFCC with matrix plot, setting threshold (minimum number of cluster members to create define a cluster) to 1
[clustfcc]
plot_matrix = true  # Generate a plot of the matrix for visual inspection
threshold = 1  # Even singlotons will be `clustered`

# ClustFCC with reduced `fraction_cutoff`, enabling to group some structures 
#  together and setting minimum number of members (threshold) to 2
[clustfcc]
threshold = 2  # A minimum of 2 members required to form a cluster
fraction_cutoff = 0.45  # Fraction of Common Contacts >= 0.45 to form a cluster
plot_matrix = true  # Generate a plot of the matrix for visual inspection

# ====================================================================