# ====================================================================
# Clustfcc analysis example
# Clustering based on Fraction of Common Contacts: `clustfcc`
# ====================================================================
# Define global parameters
# ====================================================================
# directory in which the scoring will be done
run_dir = "run1-topoaa-clustfcc-test"

# compute mode
mode = "local"
ncores = 10

# ensemble to be analysed
molecules = "./data/ensemble_4G6M.pdb"

# ====================================================================
# Parameters for each stage are defined below
# ====================================================================
# Generate topologies for each structure in the ensemble.
[topoaa]

# Cluster structures by Fraction of Comon Contacts (FCC)
# with default parameters
[clustfcc]

# Evaluate models with CAPRI metrics using PDB complex as reference.
[caprieval]
reference_fname = "./data/target.pdb"

# ====================================================================
