# ====================================================================
# Protein-protein docking example with NMR-derived ambiguous interaction restraints
# ====================================================================

# directory in which the scoring will be done
run_dir = "run1-CG-test"

# execution mode
mode = "local"
ncores = 10

# molecules to be docked
molecules =  [
    "data/4r8p_clean.pdb",
    "data/3rpg_clean.pdb"
    ]

postprocess = True 

# ====================================================================
# Parameters for each stage are defined below, prefer full paths
# ====================================================================

[topoaa]

[topocg]
cgffversion = "martini2"

[rigidbody]
ambig_fname = "data/ambig.tbl"
unambig_fname = "data/unambig.tbl"
randremoval = false
tolerance = 5
sampling = 10

[caprieval]
reference_fname = "data/4r8p_reference.pdb"
fnat_cutoff = 7.0 # cutoff for coarse-grained structures

[seletop]
select = 5

[caprieval]
reference_fname = "data/4r8p_reference.pdb"
fnat_cutoff = 7.0 # cutoff for coarse-grained structures

[flexref]
ambig_fname = "data/ambig.tbl"
unambig_fname = "data/unambig.tbl"
randremoval = false
tolerance = 5

[caprieval]
reference_fname = "data/4r8p_reference.pdb"
fnat_cutoff = 7.0 # cutoff for coarse-grained structures

[cgtoaa]

[emref]
ambig_fname = "data/ambig.tbl"
unambig_fname = "data/unambig.tbl"
randremoval = false
tolerance = 5

[caprieval]
reference_fname = "data/4r8p_reference.pdb"

[clustfcc]
min_population = 1

[seletopclusts]

[caprieval]
reference_fname = "data/4r8p_reference.pdb"

# ====================================================================
