ncores = 40
mode = "local"

clean = false
postprocess = false

run_dir = "run1-test-1"
molecules = [
    "data/toy-protein.pdb",
    "data/toy-RNA.pdb",
]

[topoaa]

[rigidbody]
sampling = 5
tolerance = 20
# setting for RNA
epsilon = 78
w_desolv = 0
dielec = "cdie"
# symmetry restraints
sym_on = true 
symtbl_fname = "data/symmetry-restraints.tbl"
# symmetry will not drive molecules together
ambig_fname = "data/ambig.tbl"