# ====================================================================
# Refinment of a complex example

# directory in which the scoring will be done
run_dir = "run1-test"

# execution mode
mode = "local"
ncores = 40

# molecules to be refined (given as separate PDBs)
molecules =  [
    "data/Chitooligo-DP14.pdb",
    ]

# ====================================================================
# Parameters for each stage are defined below, prefer full paths
# ====================================================================
[topoaa]

[mdref]

# ====================================================================

