# ====================================================================
# Protein-protein docking example with NMR-derived ambiguous interaction restraints
# ====================================================================

# directory in which the scoring will be done
run_dir = "run1-full-AA"

# execution mode
mode = "batch"
queue = "short"
queue_limit = 400
ncores = 10

# molecules to be docked
molecules =  [
    "data/4r8p_clean.pdb",
    "data/3rpg_clean.pdb"
    ]

postprocess = True 
debug = True

# ====================================================================
# Parameters for each stage are defined below, prefer full paths
# ====================================================================

[topoaa]

[rigidbody]
ambig_fname = "data/ambig.tbl"
unambig_fname = "data/unambig.tbl"
randremoval = False
tolerance = 5
sampling = 1000

[caprieval]
reference_fname = "data/4r8p_reference.pdb"

[seletop]
select = 200

[caprieval]
reference_fname = "data/4r8p_reference.pdb"

[flexref]
ambig_fname = "data/ambig.tbl"
unambig_fname = "data/unambig.tbl"
randremoval = False
tolerance = 5

[caprieval]
reference_fname = "data/4r8p_reference.pdb"

[emref]
ambig_fname = "data/ambig.tbl"
unambig_fname = "data/unambig.tbl"
randremoval = False
tolerance = 5

[caprieval]
reference_fname = "data/4r8p_reference.pdb"

[clustfcc]

[seletopclusts]

[caprieval]
reference_fname = "data/4r8p_reference.pdb"

# ====================================================================
