# ====================================================================
# Protein-protein docking example with NMR-derived ambiguous interaction restraints

# directory in which the scoring will be done
run_dir = "run1-CDR-acc-full"

# execution mode
mode = "batch"
debug = true
# in which queue the jobs should run, if nothing is defined
#  it will take the system's default
# queue = "short"
# concatenate models inside each job, concat = 5 each .job will produce 5 models
concat = 5
#  Limit the number of concurrent submissions to the queue
queue_limit = 250

# molecules to be docked
molecules =  [
    "data/4G6K_fv.pdb",
    "data/4I1B-matched.pdb"
    ]

# ====================================================================
# Parameters for each stage are defined below, prefer full paths
# ====================================================================
[topoaa]

[rigidbody]
tolerance = 5
# CDR to surface ambig restraints
ambig_fname = "data/ambig.tbl"
# Restraints to keep the antibody chains together
unambig_fname = "data/unambig.tbl"

sampling = 10000

[caprieval]
reference_fname = "data/4G6M-matched.pdb"

[seletop]
select = 500

[caprieval]
reference_fname = "data/4G6M-matched.pdb"

[flexref]
tolerance = 5
# CDR to surface ambig restraints
ambig_fname = "data/ambig.tbl"
# Restraints to keep the antibody chains together
unambig_fname = "data/unambig.tbl"

[caprieval]
reference_fname = "data/4G6M-matched.pdb"

[emref]
tolerance = 5
# CDR to surface ambig restraints
ambig_fname = "data/ambig.tbl"
# Restraints to keep the antibody chains together
unambig_fname = "data/unambig.tbl"

[caprieval]
reference_fname = "data/4G6M-matched.pdb"

[clustfcc]

[seletopclusts]
top_models = 4

[caprieval]
reference_fname = "data/4G6M-matched.pdb"

# ====================================================================

