# ====================================================================
# Rigid-body docking example

# directory in which the scoring will be done
run_dir = "run1-test"

# execution mode
mode = "local"
ncores = 40

# molecules to be docked
molecules =  [
    "data/1qu9_A.pdb",
    "data/1qu9_B.pdb",
    "data/1qu9_C.pdb",
    ]

# ====================================================================
# Parameters for each stage are defined below, prefer full paths
# ====================================================================
[topoaa]
autohis = false
[topoaa.mol1]
nhisd = 1
hisd_1 = 98
[topoaa.mol2]
nhisd = 1
hisd_1 = 98
[topoaa.mol3]
nhisd = 1
hisd_1 = 98

[rigidbody]
tolerance = 20
ambig_fname = "data/1qu9_whiscy_air.tbl"
sampling = 20
# Define C3 symmetry restraints
sym_on = true
c3sym_sta1_1=2
c3sym_end1_1=128
c3sym_seg1_1="A"
c3sym_sta2_1=2
c3sym_end2_1=128
c3sym_seg2_1="B"
c3sym_sta3_1=2
c3sym_end3_1=128
c3sym_seg3_1="C"


[caprieval]
reference_fname = "data/1qu9_ABC.pdb"

[seletop]
select = 5

[flexref]
tolerance = 20
ambig_fname = "data/1qu9_whiscy_air.tbl"
# Define C3 symmetry restraints
sym_on = true
c3sym_sta1_1 = 2
c3sym_end1_1 = 128
c3sym_seg1_1 = "A"
c3sym_sta2_1 = 2
c3sym_end2_1 = 128
c3sym_seg2_1 = "B"
c3sym_sta3_1 = 2
c3sym_end3_1 = 128
c3sym_seg3_1 = "C"
# Define NCS restraints between molecules to ensure all chains
# will have the same conformation
ncs_on = true
# NCS betwwen chain A and B
ncs_sta1_1 = 2
ncs_end1_1 = 128
ncs_seg1_1 = "A"
ncs_sta2_1 = 2
ncs_end2_1 = 128
ncs_seg2_1 = "B"
# NCS betwwen chain B and C
ncs_sta1_2 = 2
ncs_end1_2 = 128
ncs_seg1_2 = "B"
ncs_sta2_2 = 2
ncs_end2_2 = 128
ncs_seg2_2 = "C"
# No need to define between A and C, as A==B and B==C, so A==C

[caprieval]
reference_fname = "data/1qu9_ABC.pdb"

[emref]
tolerance = 20
ambig_fname = "data/1qu9_whiscy_air.tbl"
# Define C3 symmetry restraints
sym_on = true
c3sym_sta1_1 = 2
c3sym_end1_1 = 128
c3sym_seg1_1 = "A"
c3sym_sta2_1 = 2
c3sym_end2_1 = 128
c3sym_seg2_1 = "B"
c3sym_sta3_1 = 2
c3sym_end3_1 = 128
c3sym_seg3_1 = "C"
# Define NCS restraints between molecules to ensure all chains
# will have the same conformation
ncs_on = true
# NCS betwwen chain A and B
ncs_sta1_1 = 2
ncs_end1_1 = 128
ncs_seg1_1 = "A"
ncs_sta2_1 = 2
ncs_end2_1 = 128
ncs_seg2_1 = "B"
# NCS betwwen chain B and C
ncs_sta1_2 = 2
ncs_end1_2 = 128
ncs_seg1_2 = "B"
ncs_sta2_2 = 2
ncs_end2_2 = 128
ncs_seg2_2 = "C"
# No need to define between A and C, as A==B and B==C, so A==C

[caprieval]
reference_fname = "data/1qu9_ABC.pdb"

[clustfcc]
min_population = 1

[seletopclusts]
top_models = 4

[caprieval]
reference_fname = "data/1qu9_ABC.pdb"

# ====================================================================

