# ====================================================================
# Deeprank scoring example

# directory for the run
run_dir = "run1-deeprank-test"

# execution mode
mode = "local"
ncores = 10

# complex to be scored
molecules = "data/prot-prot.pdb"

# ====================================================================
# Parameters for each stage are defined below
[topoaa]

[deeprank]
chain_i = "A"
chain_j = "B"

[caprieval]
