# ====================================================================
# Deeprank scoring example

# directory in which the scoring will be done
run_dir = "run1-deeprank-test"

# execution mode
ncores = 2
mode = "local"

# complex to be scored
molecules = "data/prot-prot.pdb"

# ====================================================================
# Parameters for each stage are defined below
[topoaa]

[deeprank]
chain_i = "A"
chain_j = "B"

[caprieval]
