# ====================================================================
# Scoring example

# directory for the run
run_dir = "run1-test"

# execution mode
mode = "local"
ncores = 10

# ensemble of different complexes to be scored
molecules = ["data/T161-rescoring-ens.pdb",
             "data/protein-dna_1w.pdb",
             "data/protein-protein_1w.pdb", 
             "data/protein-protein_2w.pdb", 
             "data/protein-trimer_1w.pdb",
             "data/HY3.pdb",
             "data/AF2-model.pdb"
             ]

# ====================================================================
# Parameters for each stage are defined below

[topoaa]
set_bfactor = false

[emscoring]
tolerance = 20
per_interface_scoring = true


# ====================================================================
