# ====================================================================
# Scoring example

# directory in which the scoring will be done
run_dir = "run1-mdscoring-CG-test"

# execution mode
ncores = 10
mode = "local"
debug = true
clean = false
postprocess = False

# ensemble of different complexes to be scored
molecules = [
             "data/protein-dna_1w.pdb",
             ]

# ====================================================================
# Parameters for each stage are defined below

[topoaa]

[topocg]

[mdscoring]
contactairs = true
per_interface_scoring = true

[cgtoaa]

[emscoring]
per_interface_scoring = true

# ====================================================================
