# ====================================================================
# Scoring example

# directory in which the scoring will be done
run_dir = "run1-mdscoring-test"

# execution mode
ncores = 40
mode = "local"

# ensemble of different complexes to be scored
molecules = ["data/T161-rescoring-ens.pdb",
             "data/protein-dna_1w.pdb",
             "data/protein-protein_1w.pdb", 
             "data/protein-protein_2w.pdb", 
             "data/protein-trimer_1w.pdb"
             ]

# ====================================================================
# Parameters for each stage are defined below

[topoaa]

[mdscoring]
tolerance = 20
contactairs = true
ssdihed = "alphabeta"
dnarest_on = true
per_interface_scoring = true

[caprieval]

# ====================================================================
