########################################################################
# Example workflow using the prodigy protein module to score complexes #
########################################################################

# directory for the run
run_dir = "run-prodigy-prot-prot"

# execution mode
mode = "local"
ncores = 10

molecules = ["data/prot-prot.pdb"]

########################################################################

[topoaa]

[prodigyprotein]
# Converts results to pKd
to_pkd = true


########################################################################
