# ====================================================================
# Sasascore scoring example

# directory in which the scoring will be done
run_dir = "run1-sasascore-test"

# execution mode
ncores = 5
mode = "local"

# ensemble of different complexes to be scored
molecules = "data/T161-rescoring-ens.pdb"

# ====================================================================
# Parameters for each stage are defined below

[topoaa]

# emscoring round to calculate the scores and declash the structures
[emscoring]

[sasascore]
resdic_accessible_A = [1,2,3,4,5,6,7,8,9,10]
resdic_buried_A = [29,30,31,32,33,34,35]
resdic_accessible_B = [1,2,3,4,5,6,7,8,9,10]

[caprieval]

# ====================================================================
