# tolerance in percentage
tolerance = 5
log_level = 'verbose'
dielec = 'cdie'
epsilon = 1
dihedflag = true
elecflag = true
par_nonbonded = "OPLSX"
ligand_param_fname = ""
ligand_top_fname = ""
# treat each model as its own separate entity
individualize = true
# weights for the scoring
w_air = 0.0
w_bsa = 0.0
w_cdih = 0.0
w_dani = 0.0
w_deint = 0.0
w_desolv = 1.0
w_dist = 0.0
w_elec = 0.2
w_lcc = 0.0
w_rg = 0.0
w_sani = 0.0
w_sym = 0.0
w_vdw = 1.0
w_vean = 0.0
w_xpcs = 0.0
w_xrdc = 0.0
w_zres = 0.0
# other parameters
shape_1 = false
shape_2 = false
shape_3 = false
shape_4 = false
shape_5 = false
shape_6 = false
shape_7 = false
shape_8 = false
shape_9 = false
shape_10 = false
shape_11 = false
shape_12 = false
shape_13 = false
shape_14 = false
shape_15 = false
shape_16 = false
shape_17 = false
shape_18 = false
shape_19 = false
shape_20 = false

