---
name: ci

on:
  push:
    branches: [main]
    paths:
      - src/*
      - tests/*
      - integration_tests/*
      - docs/*
      - pyproject.toml
      - setup.py
  pull_request:
  workflow_dispatch: ~
  schedule:
    - cron: "0 */6 * * *" # every 6 hours

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      checks: write
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y openmpi-bin libopenmpi3 libopenmpi-dev

      - name: install haddock3 with extra dependencies
        run: pip install '.[mpi,dev,docs,notebooks]'

      - name: run unit tests
        run: >-
          pytest --random-order tests/
          --cov --cov-report=term-missing --cov-append
          --hypothesis-show-statistics

      - name: run integration tests
        run: >-
          pytest --random-order integration_tests/
          --cov --cov-report=term-missing --cov-append
          --hypothesis-show-statistics

      - name: generate coverage report
        run: |
          coverage report
          coverage xml

      - uses: codacy/codacy-coverage-reporter-action@v1
        if: >-
          ${{ github.event_name != 'pull_request' ||
          github.event.pull_request.head.repo.full_name == github.repository }}
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./coverage.xml

      - name: check if docs are buildable
        continue-on-error: true
        run: |
          sphinx-apidoc -f -e -o docs/ src/haddock -d 1
          sphinx-build docs haddock3-docs

  dev:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      checks: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y openmpi-bin libopenmpi3 libopenmpi-dev

      - name: install haddock3 in editable mode
        run: pip install -e '.[mpi,dev,docs,notebooks]'

      - name: check installed binaries
        run: |
          required_bins="contact_fcc cns haddock-restraints fast-rmsdmatrix"
          for bin in $required_bins; do
            if [ ! -x "src/haddock/bin/$bin" ]; then
              echo "src/haddock/bin/$bin is missing or not executable"; exit 1;
            fi
          done
          ls -l src/haddock/bin
