---
name: pages

on:
  push:
    branches:
      - main

jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y openmpi-bin libopenmpi3 libopenmpi-dev

      - name: install haddock3 with extra dependencies
        run: pip install '.[dev,docs]'

      - name: install openmm
        run: conda install -c conda-forge openmm pdbfixer

      - name: Generate docs
        run: |
         sphinx-apidoc -f -e -o docs/ src/haddock -d 1
         sphinx-build -b html docs haddock3-docs
         touch haddock3-docs/.nojekyll

      - name: deploy
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: haddock3-docs
          GITHUB_TOKEN: ${{ secrets.PAGES }}
