name: tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
        python-version: [3.9]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install pip==23.1.2 setuptools==67.7.2 wheel==0.40.0
          pip install virtualenv==20.23.0 tox==4.5.1.1

      - name: Install FCC
        run: |
          pwd
          ls -lsa
          mkdir bin
          touch bin/cns
          cd src/fcc/src
          chmod u+x Makefile
          ./Makefile 2>%1 >/dev/null || true
          cd -

      - name: unit tests
        run: tox -e test

      # from https://github.com/codecov/codecov-action
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml
          fail_ci_if_error: false
          verbose: true
